body {
    background-color: rgba(0, 0, 0, 0.559);
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: clamp(350px, 100%, 400px);
    height: 98%;
    background-color: rgba(255, 255, 255, 0.523);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 0;
}

.card {
    perspective: 1000px;
    border-radius: 15px;
}

.card {
    transform: rotateX(50deg) rotateZ(50deg);
    transform-style: preserve-3d;
    transition:
        .4s ease-in-out transform;
}
body:hover .card{
    transform: rotateX(0deg) rotateZ(0deg);
}


.inner {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    width: 330px;
    height: 238px;
    border-radius: 15px;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}

.card:hover .inner {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    height: 100%;
    padding: 1px 0px;
}

.front {
    background: radial-gradient(circle, #0d3cab 20%, transparent 20%) 0 0,
        radial-gradient(circle, #1414c569 20%, transparent 20%) 50px 50px,
        radial-gradient(circle, #aa2020 20%, transparent 20%) 25px 25px,
        radial-gradient(circle, #b61076 20%, transparent 20%) 75px 75px;
    background-size: 100px 100px;
    background-color: #361ca1ab;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
}

.grid-item {
    margin: 2 2;
    display: flex;
    color: white;
}

.grid-item:nth-child(1) {
    font-size: 1.2em;
    font-family: 'Courier New';
    letter-spacing: 0.1em;
    font-weight: 600;
}

.grid-item:nth-child(2) i {
    font-size: 22px;
    transform: rotate(90deg);
    color: white;
}

.grid-item:nth-child(4) img {
    width: 75%;
}

.grid-item:nth-child(5) p {
    position: absolute;
    font-size: 1em;
    letter-spacing: 7;
    width: 95%;
    top: 125;
    left: 27;
    font-weight: 400;
}

.grid-item:nth-child(7) i {
    position: absolute;
    top: 155;
    left: 10px;
    font-size: 20px;
}

.grid-item:nth-child(7) p {
    position: absolute;
    top: 205;
    left: 25;
    letter-spacing: 2.5;
    font-weight: 600;
    font-size: 0.8em;
}

.grid-item:nth-child(8) p:nth-child(1) {
    font-size: 0.7em;
}

.grid-item:nth-child(8) p:nth-child(2) {
    font-size: 1.2em;
    letter-spacing: 4;
}

.grid-item:nth-child(9) img {
    width: 90%;
    height: auto;
}

.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3),
.grid-item:nth-child(4),
.grid-item:nth-child(9) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item:nth-child(8) {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.back {
    background-color: rgb(255, 255, 255);
    transform: rotateY(180deg);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-item-2 {
    margin: 2 2;
    display: flex;
    color: rgb(0, 0, 0);
}

.grid-item-2:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.grid-item-2:nth-child(1) div:nth-child(1) {
    height: 30%;
    font-size: 10px;
    font-style: italic;
    display: inline-flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}

.grid-item-2:nth-child(1) div:nth-child(2) {
    height: 70%;
    background-color: black;
    width: 100%;
}

.grid-item-2:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-item-2:nth-child(2) div:nth-child(1){
    display: inline-flex;
    height: 30%;
        flex-direction: row;
        font-size: 10px;
        gap: 60px;
        justify-content: space-between;
}
.grid-item-2:nth-child(2) div:nth-child(2) {
    width: 80%;
    height: 70%;
    background-color: rgba(188, 188, 188, 0.588);
}
.grid-item-2:nth-child(2) div:nth-child(2) p{
    float: right;
    margin-right: 20px;
}

.grid-item-2:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 5;
    font-size: 9px;
}

#set {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    height: 49%;
    width: clamp(330px, 90%, 400px);
}

#set input {
    padding: 10px;
    text-align: center;
}