body {
    background-color: rgba(0, 0, 0, 0.559);
    color: rgb(149, 152, 100);
    box-sizing: border-box;
    height: 100%;
    width: 94%;
    position: absolute;
}

h1 {
    position: absolute;
    font-size: 20px;
    margin: auto;
    padding: auto;
    top: 5px;
    left: 15px;
}

i.fa-bell {
    cursor: pointer;
    font-size: 22px;
    position: fixed;
    right: 20px;
    top: 15px;
    z-index: 1;
}

.count {
    cursor: pointer;
    position: fixed;
    z-index: 1;
    right: 10px;
    top: 10px;
    color: white;
    padding: 1px 5px;
    font-size: 12px;
    background-color: red;
    border-radius: 50%;
    animation: zoom 3s 3s both infinite;
}

@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    10% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

div.notify {
    margin: auto;
    position: relative;
    width: 90%;
    justify-content: center;
    display: flex;
    z-index: 0;
    height: 0px;
    top: 30%;
}

div.notify span {
    background-color: black;
    color: white;
    display: none;
    border-color: black;
    border-radius: 15px 5px;
    padding: 20px;
    border: solid 1px;
    text-align: center;
    margin: auto;
    font-size: 15px;
    line-height: 1.3;
    height: -70vw;
    width: 320px;
    filter: blur(0px);
}

span.notify-text a {
    color: coral;
    text-decoration: none;
}

div.encrypt {
    position: relative;
    max-width: 450px;
    top: 50px;
    left: 10px;
    width: 100%;
    padding: 5px;

}

div.decrypt {
    position: relative;
    max-width: 450px;
    width: 100%;
    left: 10px;
    padding: 5px;
    top: 50px;
}

textarea {
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1),
            -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 5px 5px 5px rgba(0, 0, 0, 0.1) inset;
    font-size: 13px;
    width: 90%;
    max-width: 400px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}

input {
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1),
            -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 5px 5px 5px rgba(0, 0, 0, 0.1) inset;
    font-size: 13px;
    margin-top: 10px;
    height: 40px;
    width: 90%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}

input[type=number] {
    width: 50%;
}

button {
    background-color: rgba(255, 255, 255, 0.523);
    margin-top: 10px;
    padding: 10px 20px;
    border: solid 1px;
    border-radius: 5px;
}

button:hover {
    box-shadow: 3px 3px 3px rgba(152, 150, 150, 0.536);
}

div.show {
    position: relative;
    top: 50px;
    width: 100%;
    padding: 5px;
    display: none;
}
section {
    width: 88.3%;
    padding: 5px;
    margin-bottom: 10px;
    max-height: 10%;
    font-size: 13px;
}
