body {
  background-color :#f5f5f5;
  width: 96%;
  margin: 0 auto;
}
h3 {
  color: #cd0000;
  font-size: 30px;
  letter-spacing: -1px;
  text-align: left;
  margin: 0;
}
.book {
  height: 90%;
}
.list {
  height: 96%;
  color: #555;
  font-size: 16px;
  padding: 0 !important;
  width: 100%;
  font-family: courier, monospace;
  border: 1px solid #dedede;
}
.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 10px;
  height: auto;
  padding: 5px;
  text-transform: capitalize;
}
.list li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 96%;
  margin-left: 40px;
  margin-right: 5px;
}
