html
{
    height: 100%;
}
body
{
    position: fixed;
    left: 50%;
    height: 100%;
    margin: 0;
    background: linear-gradient(#141e30, #243b55);
    font-family: sans-serif;
    color: white;
}

.form
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    margin: 10px;
}
@media screen and (max-width: 800px) 
{
    .form
    {
        width: 350px;
        height: 380px;
    }
}

.form h2
{
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

.form .field
{
    position: relative;
}

.form .field input
{
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}

.form .field label
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 15px;
    transition: .5s;
    pointer-events: none;
}

.form .field input:focus ~ label,
.form .field input:valid ~ label 
{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 11px;
}

.form form p
{
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 0px;
    letter-spacing: 2px;
}

.form p:hover
{
    background: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

.form p span
{
    position: absolute;
    display: block;
}

.form p span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 
{
    0%
    {
        left: -100%;
    }
    50%, 100%
    {
        left: 100%;
    } 
}

.form p span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 
{
    0%
    {
        top: -100%;
    }    
    50%, 100%
    {
        top: 100%;
    }
}

.form p span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 
{
    0%
    {
        right: -100%;
    }    
    50%, 100%
    {
        right: 100%;
    }
}

.form p span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 
{
    0%
    {
        bottom: -100%;
    }    
    50%, 100%
    {
        bottom: 100%;
    }
}

.result
{
    margin-top: 20px;
    padding: 5px;
    font-size: 14px;
    box-shadow: 0 0 5px #03e9f4; 
}
.result .password
{
    width: 300;
    cursor: pointer;
    overflow: hidden;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    top: -00px;
    margin:-5px;
    margin-bottom: -50px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 2px;
    right: -2px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    border-radius: 34px;
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 8px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #03e9f4;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .div
  {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
  }
  h6
  {
    text-align: center;
    padding-top: 5px;
    margin-left: 30px;
  }
