body {
    background-color: rgb(79, 50, 156);
    color: white;
    height: 90%;
    width: 96%;
    position: relative;
    text-align: center;
}

#span {
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    transition: all 1s;
    max-width: 300px;
    height: 10px;
    font-size: 13px;
    text-align: justify;
}

#resultCover {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#result {
    width: 100%;
    text-align: justify;
    flex-grow: 1;
}

.link {
    font-size: 12px;
    margin-top: -10px;
    padding: 5px 10px;
    width: 60px;
    float: right;
}

#progress-bar {
    height: 5px;
    width: 0%;
    border-radius: 5px;
    background-color: #1dda13;
    transition: 1.8s ease;
}

/* Styles for the popup */
.popup {
    display: none;
    position: relative;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hover:hover .popup {
    display: table;
}

#divResult {
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset,
        -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset;
    position: relative;
    width: 100%;
    max-width: 300px;
    border: none;
    padding: 10px;
    padding-bottom: 20px;
    height: 350px;
    transition: all 1s;
    font-size: 11px;
    overflow: auto;
    text-align: justify;
    scrollbar-width: none;
}

#divResult::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

@media only screen and (min-width: 500px) {
    #divResult {
        font-size: 13px;
        width: 100%;
        max-width: 300px;
    }
}

select {
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset,
        -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    transition: all 1s;
    margin: 5px 2px;
    flex-basis: 155px;
    font-size: 10px;
    max-width: 155px;
}

option {
    color: black;
}

#divSelect {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 330px;
    margin: auto;
}

#divButton {
    width: 100%;
    transition: all 1s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset,
        -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset;
    transition: all 1s;
    padding: 10px;
    margin: 5px 10px;
    background-color: rgb(66, 241, 128);
    border-radius: 20px;
    border: none;
    width: 100%;
    max-width: 150px;
    cursor: pointer;
}

#clear {
    background-color: rgb(255, 255, 255);
}

#status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    font-size: 12px;
    color: white;
}

i.fa-bell {
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 1;
}

.count {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 0px;
    color: white;
    padding: 1px 5px;
    font-size: 12px;
    background-color: rgb(123, 223, 130);
    border-radius: 50%;
    animation: zoom 3s both infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}


div.notify {
    margin: auto;
    position: absolute;
    width: 100%;
    justify-content: center;
    display: flex;
    z-index: 0;
    height: 50px;
    top: 35%;
    left: 0%;
}

p {
    border: 1px solid white;
    border-radius: 5px;
    padding: 1px;
}

p#success {
    background-color: rgb(40, 222, 76);
}

p#error {
    background-color: rgb(210, 13, 13);
}

div.notify span {
    background-color: rgb(68, 14, 217);
    color: white;
    display: none;
    border-color: black;
    border-radius: 15px 5px;
    padding: 20px 10px;
    border: solid 1px;
    text-align: justify;
    margin: auto;
    font-size: 13px;
    line-height: 1.3;
    height: -70vw;
    width: 290px;
    filter: blur(0px);
}

span.notify-text a {
    color: coral;
    text-decoration: none;
}


/***** checkboxes *****/
#divCheckbox {
    width: 155px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 26px;
    top: 0px;
    margin: 0px;
    margin-bottom: 0px;
    -webkit-tap-highlight-color: transparent;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    border-radius: 50px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 2px;
    right: -2px;
    bottom: 0;
    background-color: #1b202b98;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    border-radius: 34px;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#alert1:checked+.slider,
#alert2:checked+.slider,
#alert3:checked+.slider {
    background-color: #03f484;
}

#alert1:focus+.slider,
#alert2:focus+.slider,
#alert3:focus+.slider {
    box-shadow: none;
}

#alert1:checked+.slider:before,
#alert2:checked+.slider:before,
#alert3:checked+.slider:before {
    -webkit-transform: translateX(29px);
    -ms-transform: translateX(29px);
    transform: translateX(29px);
}

.div1,
.div2,
.div3 {
    position: relative;
    width: 100%;
    max-width: 146px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    background-color: rgba(15, 12, 32, 0);
    border: 1px solid;
    height: 34px;
    border-radius: 5px;
    padding: 0px 3px;
    margin: 5px 0px;

}

.div1>div>h6,
.div2>div>h6,
.div3>div>h6 {
    position: relative;
    top: 8px;
}

@media screen and (min-width: 800px) {

    body,
    html {
        position: relative;

    }

    #paragraph {
        font-size: 16px;
    }
}

.sticky {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 310px;
    margin: auto;
}

.search-container {
    background-color: #f1f1f1;
    padding: 5px;
}

.search-container input[type=otp] {
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset,
        -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset;
    padding: 10px;
    margin-top: 2px;
    font-size: 13px;
    border: none;
    width: 30%;
    padding-right: 40px;
}

.search-container button {
    float: right;
    width: 35px;
    padding: 8px 0px;
    margin: 2px 5px;
    background-color: #ddd;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.search-container button:hover {
    background: rgb(82, 57, 207);
}

.highlight {
    background-color: rgb(0, 255, 76);
}

#resultCover {
    margin: 5px 0px 0px 0px;
}

#count {
    overflow: hidden;
    color: rgb(255, 255, 255);
    width: 40px;
    background-color: rgba(56, 1, 126, 0.985);
    font-size: 12px;
    height: 34px;
    line-height: 35px;
    border-radius: 0px 10px 10px 0px;
}