body {
    background-color: #2d0b89;
    color: white;
    height: 90%;
    width: 96%;
    position: relative;
    text-align: center;
}

#span {
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    transition: all 1s;
    max-width: 300px;
    height: 10px;
    font-size: 13px;
    text-align: justify;
}

#resultCover {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#result {
    width: 100%;
    text-align: justify;
    flex-grow: 1;
}

.link {
    font-size: 12px;
    margin-top: -10px;
    padding: 5px 10px;
    width: 60px;
    float: right;
}

#progress-bar {
    height: 5px;
    width: 0%;
    border-radius: 5px;
    background-color: #1dda13;
    transition: 1.8s ease;
}

/* Styles for the popup */
.popup {
    display: none;
    position: relative;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hover:hover .popup {
    display: table;
}

#divResult {
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset,
        -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset;
    position: relative;
    width: 100%;
    max-width: 300px;
    border: none;
    padding: 10px;
    padding-bottom: 20px;
    height: 350px;
    transition: all 1s;
    font-size: 11px;
    overflow: auto;
    text-align: justify;
    scrollbar-width: none;
}

#divResult::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

@media only screen and (min-width: 500px) {
    #divResult {
        font-size: 13px;
        width: 100%;
        max-width: 300px;
    }
}

select {
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset,
        -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    transition: all 1s;
    margin: 5px 2px;
    flex-basis: 155px;
    font-size: 10px;
    max-width: 155px;
}

option {
    color: black;
}

#divSelect {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 330px;
    margin: auto;
}

#divButton {
    width: 100%;
    transition: all 1s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset,
        -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset;
    transition: all 1s;
    padding: 10px;
    margin: 5px 10px;
    background-color: rgb(66, 241, 128);
    border-radius: 20px;
    border: none;
    width: 100%;
    max-width: 150px;
    cursor: pointer;
}

#clear {
    background-color: rgb(255, 255, 255);
}

#status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    font-size: 12px;
    color: white;
}

i.fa-bell {
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 1;
}

.count {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 0px;
    color: white;
    padding: 1px 5px;
    font-size: 12px;
    background-color: rgb(123, 223, 130);
    border-radius: 50%;
    animation: zoom 3s both infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}


div.notify {
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 0;
    top: 14%;
    height: 370px;
}

p {
    border: 1px solid white;
    border-radius: 5px;
    padding: 1px;
}

p#success {
    background-color: rgb(40, 222, 76);
}

p#error {
    background-color: rgb(210, 13, 13);
}

.notify-text {
    color: white;
    display: none;
    font-size: 13px;
    height: 100%;
    width: 310px;
    filter: blur(0px);
    overflow: hidden;
}

#sug2{
    height: 10%;
}
#sug {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#scroll {
    height: 100%;
    width: 300px;
    text-align: center;
    overflow: scroll;
    scrollbar-width: none;
    margin-bottom: 20px;
}

#scroll::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

#gamediv {
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px 0;
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}

option.active,
#gamediv:hover {
    background-color: green;
    color: white;
}

@media screen and (min-width: 800px) {

    body,
    html {
        position: relative;

    }

    #paragraph {
        font-size: 16px;
    }
}

.sticky {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 310px;
    margin: auto;
}

.search-container {
    background-color: #f1f1f1;
    padding: 5px;
}

.search-container input[type=otp] {
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset,
        -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 15px 15px 15px rgba(0, 0, 0, 0.1) inset;
    padding: 10px;
    margin-top: 2px;
    font-size: 13px;
    border: none;
    width: 30%;
    padding-right: 40px;
}

.search-container button {
    float: right;
    width: 35px;
    padding: 8px 0px;
    margin: 2px 5px;
    background-color: #ddd;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.search-container button:hover {
    background: rgb(82, 57, 207);
}

.highlight {
    background-color: rgb(0, 255, 76);
}

#resultCover {
    margin: 5px 0px 0px 0px;
}

#count {
    overflow: hidden;
    color: rgb(255, 255, 255);
    width: 40px;
    background-color: #2d0b89;
    font-size: 12px;
    height: 34px;
    line-height: 35px;
    border-radius: 0px 10px 10px 0px;
}