body
{
    background-color: rgb(79, 50, 156);
    color: white;
    height: 100%;
    width: 98%;
    position: fixed;
}
h3{
    font-size: 15px;
    text-align: center;
    padding-bottom: 50px;
}
#spin{
    position: absolute;
    top: 48%;
    left: 48%;
    font-size: x-large;
    z-index: -2;
}
div{
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    transition: all 1s;
}
#div2{
    transform: translate(800px, -100%);
}
#stdiv{
    transition: all 1s;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5em;
}
input{   
    transition: all 1s;
    padding: 13px;
    border-radius: 20px;
    border: none;
    width: 200px;
    text-align: center;
}
textarea{
    transition: all 1s;
    padding: 13px;
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 300px;
    text-align: center;
}
button{
    transition: all 1s;
    padding: 13px;
    background-color: aquamarine;
    border-radius: 20px;
    border: none;
    width: 100px;
    display: flex;
    flex: 1;
    justify-content: center;   
}