body, html
{  
    position: relative;
    height: 100%;
    background-color: rgba(4, 4, 4, 0.639);
}
@keyframes gradient 
{
    0%
    {
        background-position: 0% 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0% 50%;
    }
}

h1
{
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.3px;
}

p
{
    font-size: 13px;
    letter-spacing: 0.3px;
}

.main
{
    background-color: rgba(4, 4, 4, 0.639);
    width: 100%;
    height: 100%;
    position: fixed;
}

.container
{
    background: linear-gradient(-45deg, #797979, #363234, #42515600, #bdbdbd52);
    background-size: 400% 100%;
    animation: gradient 15s ease infinite;
    border: solid 1px;
    border-color: azure;
    color: gray;
    padding: 20px;
    margin-right: 40px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 5px;
    height: 94%;
    display: none;
    
}
@media screen and (max-width: 800px)
{
    .container
    {
        margin-right: 25px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 90%;
    } 
}

a
{
    color: gray;
    text-decoration-line: none;
}



/* - - - - - - - - Splash Screen - - - - - - - - */
.splash
{
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0);
    animation: fadeIn ease 1s;
}

.hidden
{
    animation: fadeOut ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeOut 
{
    0% 
    {
        opacity: 1;
    }
    95%
    {
        opacity: 0;
    }
    100%
    {
        display: none;
    }
}

.splash-header
{
    height: 90%;
    color: white !important;
    font-family: consolas;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fragile
{
    font-family: 'Rockwell Extra Bold', 'Arial Narrow', Arial, 'Courier New', Courier,;
    font-weight: 100;
    letter-spacing: 1.4px;
}